body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.button {
  padding: 16px 42px;

  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background-image: linear-gradient(to top, #e74a35, #f26843);

  border-radius: 46px;
  border-color: #f16642;

    color: #ffffff;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 9px;
}

.site-nav-list,
.login-nav-list {
  display: flex;
}

.site-nav-list {
  padding: 0;
  margin: 0;

  list-style: none;

  padding-right: 374px;
}

.login-nav-list {
  list-style: none;

  padding: 0;
  margin: 0;

  font-size: 14px;
  font-weight: 500;
}

.site-nav-item {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.site-nav-item a,
.login-nav-list a {
  color: #ffffff;
}

.contacts p {
  font-size: 14px;
  line-height: 16px;

  margin: 0;
}

.contacts a {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.main-iceream h2 {
  margin: 0;

  font-size: 60px;
  line-height: 60px;

  margin-bottom: 26px;
  padding: 26px 244px 0;
}

.main-iceream button {
  margin: 0;
  padding: 0;

  font-size: 32px;
  line-height: 44px;
  font-weight: bold;

  padding: 0 42px;
  min-height: 64px;
}

.stock-item h3 {
  margin: 0;

  font-size: 35px;
  line-height: 41px;

  padding-left: 20px;
  padding-top: 23px;
  padding-bottom: 20px;
}

.stock-item p {
  margin: 0;

  margin-bottom: 45px;
  padding-left: 20px;
}

.stock-item button {
  padding: 0 22px;

  min-height: 46px;
  align-self: flex-end;
  margin-right: 21px;
  border-radius: 40px;
  background-image: linear-gradient(to top, #e74a35, #f26843);
}

.stock {
  margin-top: -10px;
}

.stock-list p {
  font-size: 18px;
  line-height: 22px;
}

.stock-list {
  list-style: none;

  padding: 0;
  margin: 0;
}

.stock-list li:first-child {
  padding-right: 26px;
}

.stock-list button {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.goods-item {
  line-height: 45px;
  width: 25%;
}

.goods-list {
  list-style: none;

  display: flex;

  padding: 0;
  margin: 0;
}

.goods-list li {
  padding-right: 44px;
}

.goods-text {
  text-decoration: underline rgba(255,255,255,0.2);
  text-align: center;
}

.goods-list li:last-child {
  padding-right: 0;
}

.item-price {
  font-size: 45px;
}

.item-weight {
  font-size: 30px;
}



.login-nav-list li {
  padding-right: 10px;
}

.login-nav-list li:last-child {
  padding-right: 0;
}

.site-nav-list li {
  margin-right: 28px;
}

.site-nav-list li:last-child {
  margin-right: 0;
}

.navigation {
  display: flex;
}

.contacts-wrapper {
  display: flex;
  justify-content: flex-end;

  text-align: right;
}

.main-good {
  display: flex;
  justify-content: center;

  padding-top: 284px;
  padding-bottom: 41px;

  background-image: url("../img/main-icecream.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.about-us h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;

  padding: 29px 21px 26px;
}

.main-iceream {
  text-align: center;
}

.stock-list {
  display: flex;
}

.stock-item-raspback {
  background-image: url("../img/raspberries-bg.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;

  padding-bottom: 23px;

  display: flex;
  flex-direction: column;
}

.stock-item-chocoback {
  background-image: url("../img/choco-bg.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;

  padding-bottom: 23px;

  display: flex;
  flex-direction: column;
}

.stock-item-raspback p {
  padding-right: 55px;
}

.stock-item {
  width: 50%;
  min-height: 229px;
}

.goods-item p {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.goods-item .goods-about {
  margin-top: -65px;
  padding-bottom: 36px;
}

.goods {
  margin-bottom: 40px;
}

.about-us {
  font-weight: normal;

  color: #323232;

  background-image: url("../img/wafer.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 306px;
}

.about-us-list-wrapper {
  display: flex;
}

.about-us-list-wrapper ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us-list {
  font-size: 16px;
  line-height: 22px;
}

.about-us-list li {
  margin-left: 77px;
  padding-bottom: 26px;
}

.blog {
  color: #323232;
}

.blog p {
  margin: 0;
  padding: 0;

  line-height: 22px;
  font-weight: normal;
}

.blog a {
  font-size: 24px;
  line-height: 30px;

  color: #323232;
}

.subscribe p {
  line-height: 22px;
  font-weight: normal;

  color: #5a5a5a;
}

.subscribe input {
  color: #999999;
}

.social {
  padding: 0;
  margin: 0;

  list-style: none;
}

.social-columns {
  display: flex;

  font-size: 13px;
  line-height: 18px;
}

.social-columns ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.map {
  text-align: center;
}

.copyright p {
  font-size: 12px;
  line-height: 18px;

  color: #fefefe;
}

.index-columns {
  display: flex;
}

.index-columns section {
  width: 50%;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;
}
